# For more information, see:
#   - https://atom.io/docs/latest/creating-a-package#language-grammars
#   - http://manual.macromates.com/en/language_grammars.html

# This grammar will only be enabled for the *.{yeoman,yo} files
'fileTypes': [
  'yeoman'
  'yo'
]

# The patterns to search for
'patterns': [

  # Each pattern is composed of a 'match' and a 'captures' key. Each time the
  # 'match' regex is found, it sets the given name for each group.
  # Example: here, each time 'yo', 'yoo', etc... is found, it will be named as
  # 'keyword.control.untitled' (and will be highlighted accordingly).
  {
    'match': '(yo+)'
    'captures':
      '1': 'name': 'keyword.control.untitled'
  }

  # If your match regex is simple (i.e.: no capturing group), you can avoid the
  # 'captures' key and directly use the 'name' key instead (which will name the
  # group 0).
  {
    'match': 'endyo'
    'name': 'keyword.control.untitled'
  }
]

# Do not pollute the global scope
'scopeName': 'playlist'
