###
# For more information: https://atom.io/docs/latest/creating-a-package#application-menu
###

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Playlist'
      'submenu': [
        { 'label': 'Toggle Queue', 'command': 'playlist:toggleQueue' },
        { 'label': 'Toggle Queue', 'command': 'playlist:toggleSearch' }
      ]
    ]
  }
]
