/*
 * This file will be loaded on package activation. You can directly stylizes
 * DOM elements by accessing selectors like `.workspace` or `.source`.
 *
 * For more information: https://atom.io/docs/latest/creating-a-package#stylesheets
 */


@import "../bundle/components/fontawesome/less/font-awesome.less";
//@fa-font-path: "atom://playlist/bundle/components/fontawesome/fonts";
@fa-font-path: "file:///Users/dawson/develop/projects/personal/atom-playlist/bundle/components/fontawesome/fonts";

.yeoman {
  // The background is loaded from the 'bundle' directory.
  background-image: url("atom://playlist/bundle/yeoman.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.pl-queue {
  height: 173px;
  overflow-x: auto;
  white-space: nowrap;
}

@pl-album-length: 100px;

.pl-queue ul {
  overflow-x: auto;
  height: 150px;
  background-color: #ddd;
  color: green;
  margin: 0;
  padding-left: 10px;
}

li.pl-album {
  margin: 20px;
  color: black;
  width: @pl-album-length;
}

div.pl-album {
  height: @pl-album-length;
  border-style: solid;
  border-width: 2px;
}

textarea.pl-search {
}

.pl-search-list {
  height: 400px;
  overflow-y: auto;
}
